# Configuration file

chestgen {
    # What items to generate in Runic Dungeons chests. Note: May be changed to JSON in the future
    # Format is the following:
    # modid:item:metadata:minValue:maxValue:weight
    S:chestLoot <
        	minecraft:iron_ingot:0:1:5:10
		witchery:somniancotton:0:1:2
		witchery:ingredient:99:1:2
     >
}


