# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General Configuration Options
##########################################################################################################

general {
    # If true, floors will be unavailable if there is no floor or any of the blacklisted blocks are present [default: false]
    B:"Prevent Traps"=true

    # List of blocks to be checked for as traps [default: [lava], [fire], [water]]
    S:"Trap Block List" <
        lava
        fire
        water
     >
}


