# Configuration file

blocks {
    B:advDeconTable=true
    B:basalt=true
    B:biomeMorpher=true
    B:bloodDynamo=true
    B:bloodFabricator=true
    B:catalyst=true
    B:condenserBlock=true
    B:cosmeticOpaque=true
    B:cosmeticPane=true
    B:creativeJar=true
    B:crystalBlock=true
    B:eldritchConsumer=true
    B:electricBellows=true
    B:essentiaContainer=true
    B:essentiaDynamo=true
    B:existenceBurner=true
    B:existenceFountain=true
    B:existencePylon=true
    B:existenceUser=true
    B:flowerDynamo=true
    B:fluxLamp=true
    B:fusor=true
    B:itemTransmitter=true
    B:manaExchanger=true
    B:manaFabricator=true
    B:manaFluid=true
    B:nodeDynamo=true
    B:nodeGenerator=true
    B:processorBM=true
    B:processorBO=true
    B:processorTC=true
    B:reservoir=true
    B:teslaCoil=true
}


items {
    B:coilCoupler=true
    B:essentiaCannon=true
    B:existenceGem=true
    B:fusionFocus=true
    B:itemBM=true
    B:itemBO=true
    B:itemBoost=true
    B:itemMaterial=true
    B:itemScepter=true
    B:pen=true
    B:ritualTome=true
    B:treasures=true
    B:wandCores=true
}


machines {
    I:"Blacklisted materials for use in the Essentia Reconstructor" <
     >
}


misc {
    B:DebugFunction=false
    B:"Mekanism Recipes Will Override TE Ones"=false
}


potions {
    I:drown=82
    I:slowFall=83
}


pureores {
    B:pureAluminum=true
    S:pureAluminumColor=0xaaaaaa
    S:pureAluminumIngots=2,3,4,5,6,7
    S:pureAluminumName=Aluminum
    B:pureCopper=true
    S:pureCopperColor=0x915b21
    S:pureCopperIngots=2,3,4,5,6,7
    S:pureCopperName=Copper
    B:pureGold=true
    S:pureGoldColor=0xb4a62c
    S:pureGoldIngots=2,3,4,5,6,7
    S:pureGoldName=Gold
    B:pureIron=true
    S:pureIronColor=0x878787
    S:pureIronIngots=2,3,4,5,6,7
    S:pureIronName=Iron
    B:pureNickel=true
    S:pureNickelColor=0x8c9cb7
    S:pureNickelIngots=2,3,4,5,6,7
    S:pureNickelName=Nickel
    B:pureOsmium=true
    S:pureOsmiumColor=0x9ca6b4
    S:pureOsmiumIngots=2,3,4,5,6,7
    S:pureOsmiumName=Osmium
    B:pureSilver=true
    S:pureSilverColor=0x6c7386
    S:pureSilverIngots=2,3,4,5,6,7
    S:pureSilverName=Silver
    B:pureTin=true
    S:pureTinColor=0xa5abab
    S:pureTinIngots=2,3,4,5,6,7
    S:pureTinName=Tin
    B:pureZinc=true
    S:pureZincColor=0xd5cad3
    S:pureZincIngots=2,3,4,5,6,7
    S:pureZincName=Zinc
}


rate {
    I:BiomeMorpher=20000
    I:BloodFabricator=1000000
    I:Condenser=1000000
    I:EldritchConsumer=20000
    I:ElectricBellows=500
    I:EssentiaFusor=1000
    I:ManaExchanger=1000
    I:ManaFabricator=1000000
}


recipes {
    B:"Add/Increase Smelting bonus to dusts/ore"=true
}


renderers {
    B:CoilFX=true
}


