# Configuration file

"output_1 vanilla essence crafting" {
    I:"Clay Balls, default 32, Max 64, Min 1"=32
    I:"Coal, default 12, Max 64, Min 1"=12
    I:"Cobblestone, default 32, Max 64, Min 1"=32
    I:"Diamond, default 1, Max 64, Min 1"=1
    I:"Dirt, default 64, Max 64, Min 1"=64
    I:"Dye, default 6, Max 64, Min 1"=6
    I:"Emerald, default 1, Max 64, Min 1"=1
    I:"Experience Orb, default 1, Max 64, Min 4"=4
    I:"Glowstone dust, default 12, Max 64, Min 1"=12
    I:"Gold Ore, default 5, Max 64, Min 1"=5
    I:"Gravel, default 16, Max 64, Min 1"=16
    I:"Iron Ore, default 8, Max 64, Min 1"=8
    I:"Lapis Lazuli, default 12, Max 64, Min 1"=12
    I:"Nether Quartz, default 8, Max 64, Min 1"=8
    I:"Obsidian, default 8, Max 64, Min 1"=8
    I:"Redstone dust, default 24, Max 64, Min 1"=24
    I:"Sand, default 32, Max 64, Min 1"=32
    I:"Snow Balls, default 32, Max 64, Min 1"=32
    I:"Wood Logs, default 8, Max 64, Min 1"=8
}


"output_2 nature essence crafting" {
    I:"Cactus, default 8, Max 64, Min 1"=8
    I:"Lily Pads, default 8, Max 64, Min 1"=8
    I:"Mossy Cobblestone, default 8, Max 64, Min 1"=8
    I:"Mossy Stone Brick, default 8, Max 64, Min 1"=8
    I:"Mycelium, default 8, Max 64, Min 1"=8
    I:"Vines, default 32, Max 16, Min 1"=16
}


"output_2 vanilla mob drop output" {
    I:"Blaze Mob Drop Blaze Rod, default 4, Max 64, Min 1"=4
    I:"Chicken Mob Drop Eggs, default 4, Max 64, Min 1"=4
    I:"Chicken Mob Drop Feather, default 8, Max 64, Min 1"=8
    I:"Chicken Mob Drop Raw Chicken, default 4, Max 64, Min 1"=4
    I:"Cow Mob Drop Leather, default 8, Max 64, Min 1"=8
    I:"Cow Mob Drop Raw Beef, default 4, Max 64, Min 1"=4
    I:"Creeper Mob Drop Creeper Head, default 1, Max 64, Min 1"=1
    I:"Creeper Mob Drop Gunpowder, default 8, Max 64, Min 1"=8
    I:"Enderman Mob Drop Ender Pearl, default 4, Max 64, Min 1"=4
    I:"Ghast Mob Drop Ghast Tear, default 2, Max 64, Min 1"=2
    I:"Magma Mob Drop Magma Cream, default 6, Max 64, Min 1"=6
    I:"Mob Drop Bottle 'o' Enchanting, default 3, Max 64, Min 2"=2
    I:"Pig Mob Drop Raw Pork, default 4, Max 64, Min 1"=4
    I:"Skeleton Mob Drop Arrows, default 4, Max 64, Min 1"=4
    I:"Skeleton Mob Drop Bones, default 8, Max 64, Min 1"=8
    I:"Skeleton Mob Drop Skull, default 1, Max 64, Min 1"=1
    I:"Slime Mob Drop Slime Balls, default 8, Max 64, Min 1"=8
    I:"Spider Mob Drop Spider Eye, default 8, Max 64, Min 1"=8
    I:"Spider Mob Drop String, default 8, Max 64, Min 1"=8
    I:"Wither Skeleton Mob Drop Wither Skull, default 1, Max 64, Min 1"=1
}


"output_3 nether essence crafting" {
    I:"Nether Brick, default 4, Max 64, Min 1"=4
    I:"Netherrack, default 816, Max 64, Min 1"=16
    I:"Soul sand, default 8, Max 64, Min 1"=8
}


"output_4 mod compat" {
    I:"Aluminium Ore, default 4, Max 64, Min 1"=4
    I:"Alumite Ingot, default 1, Max 64, Min 1"=1
    I:"Ardite Ore, default 1, Max 64, Min 1"=1
    I:"Blizz Rod, default 2, Max 64, Min 1"=2
    I:"Bronze Ingots, default 2, Max 64, Min 1"=2
    I:"Certus Quartz Ore, default 4, Max 64, Min 1"=4
    I:"Cobalt Ore, default 1, Max 64, Min 1"=1
    I:"Copper Ore, default 4, Max 64, Min 1"=4
    I:"Electrum Ingots, default 2, Max 64, Min 1"=2
    I:"Enderium Ingots, default 1, Max 64, Min 1"=1
    I:"Fluix Crystal, default 2, Max 64, Min 1"=2
    I:"Invar Ingot, default 2, Max 64, Min 1"=2
    I:"Lead Ore, default 4, Max 64, Min 1"=4
    I:"Lumium Ingot, default 2, Max 64, Min 1"=2
    I:"Manasteel Ingot, default 1, Max 64, Min 1"=1
    I:"Manyullyn Ingot, default 1, Max 64, Min 1"=1
    I:"Nickel Ore, default 2, Max 64, Min 1"=2
    I:"Osmium Ore, default 4, Max 64, Min 1"=4
    I:"Peridot, default 1, Max 64, Min 1"=1
    I:"Platinum Ingot, default 1, Max 64, Min 1"=1
    I:"Raw Rubber, default 6, Max 64, Min 1"=6
    I:"Ruby, default 1, Max 64, Min 1"=1
    I:"Saltpeter Dust, default 6, Max 64, Min 1"=6
    I:"Sapphire, default 1, Max 64, Min 1"=1
    I:"Signalum Ingot, default 2, Max 64, Min 1"=2
    I:"Silver Ore, default 4, Max 64, Min 1"=4
    I:"Steel Ingot, default 2, Max 64, Min 1"=2
    I:"Sulfur Dust, default 6, Max 64, Min 1"=6
    I:"Terrasteel Ingot, default 1, Max 64, Min 1"=1
    I:"Tin Ore, default 4, Max 64, Min 1"=4
    I:"Yellorite Ore, default 4, Max 64, Min 1"=4
}


