# Configuration file

"crop options" {
    B:"Magical Crops deal Magic damage when walked on, default true"=true
    B:"Magical crops display particle effects, default true"=true
    B:"Magical crops when broke/harvested re-plant themselves, default true"=true
}


"essence ore options" {
    I:"Edit max amount of End Essence ore that can generate per vein, default = 4"=4
    I:"Edit max amount of Essence ore that can generate per vein, default = 4"=4
    I:"Edit max amount of Nether Essence ore that can generate per vein, default = 6"=6
    I:"Edit the number to change the Y Cord that essence ore starts generating in the overworld, default = 45"=45
    B:"End Essence ore spawns in the end"=true
    B:"Essence ore spawns in the overworld"=true
    B:"Nether Essence ore spawns in the nether"=true
}


"infusion stone options" {
    B:"1 Infusion stones have durability"=true
    I:"2 Durability of the weak infusion stone"=256
    I:"3 Durability of the regular infusion stone"=512
    I:"4 Durability of the strong infusion stone"=1024
    I:"5 Durability of the extreme infusion stone"=2048
}


"misc options" {
    B:"Accio, Crucio, Imperio & Zivicio Hoes give extra drops when harvesting Minicio Crops, default true"=true
    B:"Accio, Crucio, Imperio & Zivicio Pickaxes give extra drops when mining Minicio Ores, default true"=true
    B:"Full Zivicio armour gives you creatve flight, default true"=true
    I:"How many Essence ingots do you get when crafted, default 3, Max 64"=3
    B:"Ultimate Diamond, Emerald and Ultimate Apple apples are active, default true"=true
    B:"You can use essence to craft enchanting books, default true"=true
}


"monster drop options" {
    B:"Animals e.g. Pigs, Sheep and Chickens, drop Minicio essence when killed, default true"=true
    B:"Can mobs drop essence on death (universal switch for all mobs), default true"=true
    I:"Chance of animals dropping Minicio essence when killed in percent, default 10"=10
    I:"Chance of monsters dropping Minicio essence when killed in percent, default 20"=20
    B:"Ender dragon drops Zivicio essence when killed, default true"=true
    I:"If they can, how many zivicio dusts should Ender Dragons drop when killed, default 4"=4
    I:"If they can, how many zivicio dusts should the Wither Boss drop when killed, default 2"=2
    B:"Monsters e.g. Zombies, Skeletons and Creepers, drop Minicio essence when killed, default true"=true
    B:"Wither drops Zivicio essence when killed, default true"=true
}


"mutation options" {
    B:"1 Do crops mutate to gain magical seeds, default true"=true
    I:"2 Mutation chance for accio based crops, e.g. Coal, default 25, max 100"=25
    I:"3 Mutation chance for crucio based crops, e.g. redstone, default 25, max 100"=25
    I:"4 Mutation chance for imperio based crops, e.g. gold, default 25, max 100"=25
    I:"5 Mutation chance for zivicio based crops, e.g. diamond, default 25, max 100"=25
}


"seed options" {
    I:"Number in percent for the chance of getting a second seed from Magical Crops, 0 = disabled, default = 10, Max = 100"=10
    I:"Number of seeds you get from crafting, default 1, Max 64"=1
}


